<% movies.each do |movie| %>
<div id="movie-<%= movie.id %>" style="display: inline-block; margin: 10px;">
  <img src="<%= movie.main_picture_url %>" style="max-height:200px">
  <h4><%= movie.name %> <%= "(#{movie.year})" if movie.year.present? %></h4>
  <%= link_to 'Edit', edit_movie_path(movie) %>
  <%= link_to 'Destroy', movie, data: { method: :delete, confirm: 'asd', remote: true } %>
</div>
<% end %>
