<div class="movie item" style="display: inline-block; margin: 10px;">
  <img src="{{pictureUrl}}" style="max-height:200px">
  <h4>{{name}} {{#if year}}({{year}}){{/if}}</h4>
  <a href="/movies/{{id}}/edit">Edit</a>
  <a href="/movies/{{id}}" data-method="delete" data-remote="true" class="icon-remove">Remove</a>
</div>
