<!DOCTYPE html>
<html>
<head>
  <title>My Movies Collection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller.controller_path %>"
      data-action="<%= controller.action_name %>">

  <%= render 'shared/header' %>
  <%= render 'shared/alerts' %>  

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
